<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.erp.dao.ErpGoodsMapper">

    <resultMap id="BaseResultMap" type="io.renren.modules.erp.domain.ErpGoods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="purchasePrice" column="purchase_price" jdbcType="DECIMAL"/>
            <result property="sellingPrice" column="selling_price" jdbcType="DECIMAL"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_name,category_id,
        purchase_price,selling_price,picture
    </sql>
</mapper>
